/* Global */

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
}

@font-face {
  font-family: 'UncutSans';
  src: url(./assets/UncutSans-Variable.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'SatoshiMedium';
  src: url(./assets/Satoshi-Medium.ttf);
}

@font-face {
  font-family: 'SatoshiRegular';
  src: url(./assets/Satoshi-Regular.ttf);
}

p {
  font-family: SatoshiMedium;
}

li {
  font-family: SatoshiMedium;
}
/* Nav */

.nav-container {
  list-style: none;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin:0 auto;
  position: sticky;
  top:0;

}

.nav-container li {
  margin-right: 3rem;
  float:right;
}

/* Hero */

.hero-container{
  height: 60vh;
  border-bottom: 1px solid black;
}

.hero-btn{
  background-color: white; 
  font-family: UncutSans;
  font-weight: 200;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px;
}



.hero-btn:hover{
  background-color: black;
  color:white;
  cursor:pointer;
}

/* About */

/* Projects */

/* TechStack */
.tech-img{
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid black;
}


/* Experience */

/* Footer */